// ================
//      Tables
// ================
.table-data() {
    border-color: @theme-borders;
}

.table-header() {
    background-color: @table-header;
    border-color: @theme-borders;
    color: @theme-text;
}

.table-wikitable() {
    background-color: @table-data;
    color: @theme-text;
    border: none;
}

.table-infobox() {
    background-color: @table-data;
    color: @theme-text;
    border: solid 1px @theme-borders;
}

// ======================
//      Input fields
// ======================
//Buttons
.button-styling(@type: "default") {
    & when (@type = "no-hover") {
        color: @button-text;
        background-image: none;
        background-color: @button-accept-bg;
        border-color: @button-accept-bg;
        border-style: solid;

        &:hover,
        &:active,
        &.active {
            color: @button-text;
            background-image: none;
            background-color: @button-accept-bg;
            border-color: @button-accept-bg;
        }
    }

    & when (@type = "cancel") {
        color: @button-text;
        background-image: none;
        border-color: @button-cancel-bg;
        background-color: @button-cancel-bg;
        border-style: solid;

        &:hover,
        &:active,
        &.active {
            color: @button-text;
            background-image: none;
            border-color: darken(@button-cancel-bg, 5%);
            background-color: darken(@button-cancel-bg, 5%);
        }
    }

    & when (@type = "default") {
        color: @button-text;
        background-image: none;
        background-color: @button-accept-bg;
        border-color: @button-accept-bg;
        border-style: solid;

        &:hover,
        &:active,
        &.active {
            color: @button-text;
            background-image: none;
            background-color: lighten(@button-accept-bg, 10%);
            border-color: lighten(@button-accept-bg, 10%);
        }
    }
}

//Text
.text-input-styling() {
    background-color: @input-fields;
    color: @theme-text;
    border: solid 1px @theme-borders;
    box-shadow: none;

    &::placeholder {
        color: @placeholder;
    }
}

// ===================
//      Dropdowns
// ===================
.dropdown-styling() {
    background-color: @dropdown-bg;
    border-color: @theme-borders;

    li > a {
        color: @theme-text;

        &:hover {
            color: @theme-links;
            background-color: @dropdown-hover-item;
        }
    }

    .oo-ui-menuOptionWidget {
        color: @theme-text;

        &.oo-ui-optionWidget-highlighted {
            color: @theme-links;
            background-color: @dropdown-hover-item;
        }
    }

    // ul::before,
    // ul::after {
    //     background: none;
    // }
}

// .dropdown-pointer-styling() {
//     &::before {
//         border-bottom-color: @theme-borders;
//     }

//     &::after {
//         border-bottom-color: @dropdown-bg;;
//     }
// }

// ====================
//      Scroll bar
// ====================
.scroll-bar-styling(@style: "style-1") {
    & when (@style = "style-1") {
        &::-webkit-scrollbar {
            width: 13px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: @scroll-bar-1-track;
            border: solid 1px lighten(@scroll-bar-1-track, 2%);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: @scroll-bar-1-thumb;
            border: 1px solid darken(@scroll-bar-1-track, 5%);
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    & when (@style = "style-2") {
        &::-webkit-scrollbar {
            width: 13px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: @scroll-bar-2-track;
            border: solid 1px darken(@scroll-bar-2-track, 2%);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: @scroll-bar-2-thumb;
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    & when (@style = "default") {
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-corner {
            all: unset;
        }
    }
}

// ======================
//      Invert color
// ======================
.invert-color(@rule, @color, @amount) {
    @{rule}: @color + (#fff - 2*@color) * @amount;
}

.counter-inversion(@rule, @color, @amount) {
    .invert-color(@rule, @color, @amount/(2 * @amount - 1));
}