// ==========================
//      {{Archive list}}
// ==========================
table.archive {
    background-color: @table-data;
    border: solid 1px @theme-borders;
}

// ===============================
//      {{GE Set Cost Table}}
// ===============================
// Recolour the totals cell
.GE-set-cost tr:last-of-type td {
    background: @table-header;
}

// ===========================
//      {{Infobox Quest}}
// ===========================
.questdetails {
    .table-infobox;

    .questdetails-header {
        background-color: @table-header;
    }

    #rs-qc-form {
        background: none;
    }

    .oo-ui-icon-info {
        filter: invert(0.8);
    }
}

// quest req indent guide
.questreq ul {
    border-left: 1px dotted darken(@theme-text, 15%);
}

// ===================
//      {{Quote}}
// ===================
blockquote {
    border-left: solid 3px @theme-borders;
    color: darken(@theme-text, 10%);

    p {
        border: none;
    }
}
// blockquote.block {
//     background-color: lighten(@main-page-bg, 4%);
// }

// .blockquote-mark {
//     &::before {
//         background: @main-page-bg;
//     }

//     &::after {
//         color: lighten(@main-page-bg, 4%);
//     }
// }

// ====================
//      {{Navbox}}
// ====================
.navbox {
    color: @theme-text;

    &,
    .navbox-subgroup {
        background-color: @main-page-bg;
    }

    .navbox-group {
        background: @navbox-group-bg;
    }

    .navbox-list,
    .navbox-group {
        border-color: @main-page-bg;
    }

    .navbox-subgroup {
        .navbox-title,
        .navbox-group {
            background: @navbox-group-bg;
        }
    }

    .navbox-title,
    .navbox-footer {
        border-color: @main-page-bg;
        color: @theme-text;
        background: @navbox-title-bg;

        a {
            color: @theme-text;
        }
    }

    .navbox-collapsible {
        .navbox-title,
        .navbox-footer {
            background-color: @navbox-title-2-bg;
        }
    }
}

// ===========================
//      {{Documentation}}
// ===========================
.documentation {
    background-color: @documentation-bg;
    color: @theme-text;
}

// ======================
//      {{shortcut}}
// ======================
.shortcut {
    .table-infobox;
}

// ==================
//      <Tabber>
// ==================
// .tabberlive {
//     ul.tabbernav {
//         li.tabberactive a {
//             .button-styling;
//         }

//         li a {
//             background-color: lighten(@main-page-bg, 3%);
//             color: @theme-text;

//             &:hover {
//                 background-color: lighten(@main-page-bg, 13%);
//             }
//         }
//     }

//     div.tabbertab {
//         background-color: lighten(@main-page-bg, 3%);
//     }
// }

// ==========================
//      {{Infobox bonuses}}
// ==========================
.infobox-bonuses {
    td {
        .table-data;
        background-color: @table-data;
    }

    th {
        .table-header;
    }
}

// -----------------------
//      Compare popup
// -----------------------
// #modal {
//     background-color: @main-page-bg;
//     color: @theme-text;

//     // Add item input field
//     #cioItem {
//         .text-input-styling;
//     }

//     // Stat colors
//     .cioPos {
//         color: @positive-change;
//     }

//     .cioNeg {
//         color: @negative-change;
//     }

//     // Totals row
//     #cioTotals {
//         background-color: @highlight-table-on;
//     }
// }

// =================================
//      {{Infobox Monster new}}
// =================================
.infobox-monster {
    .offensive-header {
        background-color: darken(#861c10, 10%);
    }

    .offensive-subheader {
        color: #861c10;
        background-color: darken(#ecccc6, 5%);
    }

    .defensive-header {
        background-color: darken(#438ab5, 10%);
    }

    .defensive-subheader {
        color: #32637c;
        background-color: darken(#c1deed, 15%);
    }

    .slayer-header {
        background-color: #464646;
    }
}

// ========================
//      {{References}}
// ========================
// Highlight ref when clicked
.references > li:target {
    background-color: lighten(@main-page-bg, 10%);
}

// ========================
//      {{Transcript}}
// ========================
.transcript {
    background-color: @documentation-bg;
}

// =========================
//      {{Family tree}}
// =========================
td.famtreeleaf {
    .table-infobox;
}

// =================================
//      {{Alphabetical header}}
// =================================
#alphabetical-header {
    background-color: @messageboxes;
    border-color: lighten(@messageboxes, 5%);
}

// ================================
//      {{Mmgtable recurring}}
// ================================
.mmgtable-details {
    border-color: @theme-borders;
}