// Theme variables

@ooui-default-image-path: 'themes/wikimediaui/images';

// Pull in the main set of variables from the shared UI base; reaching into node_modules like this
// to avoid a symlink that Windows users won't like.
@import 'wikimedia-ui-base.less';

@background-color-base--hover: #eaecf0;
@background-color-base--read-only: #f8f9fa;

// Primary 'Progressive' and 'Destructive' Colors
@background-color-progressive: #eaf3ff;
@background-color-progressive--hover: rgba( 41, 98, 204, 0.1 );
@color-progressive: #36c; // equals HSB 220°/75%/80%
@color-progressive--hover: #447ff5; // equals HSB 220°/72%/96%
@color-progressive--active: #2a4b8d; // equals HSB 220°/70%/55%
@color-progressive--active-hover: @color-progressive;
@color-progressive--focus: @color-progressive;

@color-destructive-non-primary: #d73333; // Exemption for non-primary buttons, foremost used in VE, lightened up R50 to align to AA contrast ratio

// Disabled Widgets
@background-color-base--disabled: #eaecf0;
@background-color-filled--disabled: #c8ccd1;
@opacity-filled--disabled: 1;
@opacity-indicator--disabled: 0.15; // equals `#c7c8cc` on background-color `#fff`
@opacity-tool--disabled: 0.34; // equals `#a9a9a9` on background-color `#fff`

// Toolbar, Tools & Menus
@background-color-toolbar: @background-color-base;
@background-color-tool--hover: @background-color-base--hover;
@background-color-tool--active: @background-color-progressive;
@background-color-tool--active-hover: @background-color-progressive--hover;
@color-tool--hover: @color-base--emphasized; // Used here in combination with `:hover` background-color turning light grey
@color-tool--active: @color-progressive;
@border-toolbar: @border-width-base solid #c8ccd1;

@border-base--disabled: @border-width-base solid @border-color-base--disabled;
@border-filled--disabled: @border-width-base solid @border-color-filled--disabled;
@border-dialog-bar: @border-width-base solid @border-color-dialog-bar;

@border-color-base--focus: @color-progressive--focus;
@border-color-framed-progressive--hover: @color-progressive--hover;
@border-color-framed-destructive--hover: @color-destructive--hover;
@border-color-frameless: transparent;
@border-color-frameless--fallback: @color-base--inverted; // Support IE 6: `transparent` is not rendered correctly

@border-color-focus-inset: @color-base--inverted;
@border-color-erroneous: @color-erroneous;
@border-color-base--disabled: #c8ccd1;
@border-color-input--hover: @border-color-base--active;
@border-color-dialog-bar: #c8ccd1;

@box-shadow-toolbar-top: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
@box-shadow-toolbar-bottom: 0 -1px 1px 0 rgba( 0, 0, 0, 0.1 );
@box-shadow-widget: inset 0 0 0 1px transparent;
@box-shadow-widget--focus: inset 0 0 0 1px @color-progressive;
@box-shadow-progressive--focus: inset 0 0 0 1px @color-progressive, inset 0 0 0 2px @color-base--inverted;
@box-shadow-frameless-indicator--focus: 0 0 0 2px @color-progressive;
@box-shadow-action--focus: @box-shadow-widget--focus, 0 0 0 1px @color-progressive;
@box-shadow-toolbar-action-button--focus: inset 0 0 0 2px @color-progressive, inset 0 0 0 3px @color-base--inverted;
@box-shadow-popuptoolgroup-tool--focus: inset 0 0 0 2px @color-progressive--focus;
@box-shadow-input-binary--active: inset 0 0 0 1px @color-progressive--active;
@box-shadow-erroneous--focus: inset 0 0 0 1px @color-erroneous;

// Binary Input Widgets (CheckboxInput, RadioInput, ToggleSwitch)
@background-color-input-binary--active: @color-progressive--active;
@background-color-input-binary--checked: @color-progressive;
@border-input-binary: @border-width-base solid @border-color-input-binary;
@border-color-input-binary: @border-color-base--active;
@border-color-input-binary--active: @color-progressive--active;
@border-color-input-binary--checked: @color-progressive;
@box-shadow-input-binary: 0 0 0 1px rgba( 0, 0, 0, 0.1 );

// Theme mixins

.mw-frameless-button-colored( @child, @link, @hover, @active, @focus ) { // following CSS Pseudo Classes
	> @{child} {
		color: @link;
	}

	> @{child}:hover {
		color: @hover;
	}

	> @{child}:active,
	> @{child}:active:focus,
	&.oo-ui-buttonElement-pressed > @{child} {
		color: @active;
		box-shadow: none;
	}
}

.mw-framed-button-colored( @child, @link, @hover, @border-color--hover, @active, @focus ) {
	> @{child} {
		color: @link;
	}

	> @{child}:hover {
		background-color: @hover;
		border-color: @border-color--hover;
	}

	> @{child}:active,
	> @{child}:active:focus,
	&.oo-ui-buttonElement-pressed > @{child},
	&.oo-ui-buttonElement-active > @{child},
	&.oo-ui-popupToolGroup-active > @{child} {
		background-color: lighten( @active, 60% );
		color: @active;
		border-color: @active;
		box-shadow: none;
	}

	> @{child}:focus {
		border-color: @focus;
		box-shadow: inset 0 0 0 1px @focus;
	}
}

.mw-framed-primary-button-colored( @child, @link, @hover, @active, @focus ) {
	> @{child} {
		color: @color-base--inverted;
		background-color: @link;
		border-color: @link;
	}

	> @{child}:hover {
		background-color: @hover;
		border-color: @hover;
	}

	> @{child}:active,
	> @{child}:active:focus,
	&.oo-ui-buttonElement-pressed > @{child},
	&.oo-ui-buttonElement-active > @{child},
	&.oo-ui-popupToolGroup-active > @{child} {
		color: @color-base--inverted;
		background-color: @active;
		border-color: @active;
		box-shadow: none;
	}

	> @{child}:focus {
		border-color: @focus;
		box-shadow: inset 0 0 0 1px @focus, inset 0 0 0 2px @color-base--inverted;
	}
}
