// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      COLORS
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// =======================
//      Primay colors
// =======================
$theme-text          : #c5c5c5;
$theme-borders       : #52555a;
$theme-links         : #6bbaea;
$theme-redlinks      : #ba0000;
$theme-green         : #1e5400;
$theme-green-lighter : lighten($theme-green, 2.5%);
$theme-grey          : #1e1e1e;//#262626;
$theme-grey-darker   : darken($theme-grey, 3.5%);
$theme-gray-lighter  : lighten($theme-grey, 3%);
$theme-gray-lighter-2: lighten($theme-grey, 9%);
$theme-grey-2        : lighten($theme-grey, 8%);
$theme-grey-2-darker : darken($theme-grey-2, 3%);
$theme-gray-2-lighter: lighten($theme-grey-2, 20%);
$theme-blue          : #265588;
$theme-blue-lighter  : lighten($theme-blue, 8%);

// ==========================
//      Secondary colors
// ==========================
//----- general -----//
$main-page-bg           : $theme-grey;
$homepage-module-bg     : $theme-grey-2;
$sidebar                : lighten($theme-grey, 3%);
$pageheader-bg          : $theme-blue;
$fandomheader-bg        : $main-page-bg;
$table-data             : $theme-grey-2;
$table-header           : $theme-grey-2-darker;
$highlight-table-on     : $theme-green;
$highlight-table-hover  : $theme-green-lighter;
$documentation-bg       : $theme-gray-lighter;
$categories             : $theme-grey-darker;
$messageboxes           : $theme-grey-darker;
$edit-area-bg           : #a9a9a9;
$edit-area-sidebar-bg   : lighten($main-page-bg, 7%);
$edit-area-sidebar-shade: $main-page-bg;
$rail-module-bg         : $theme-grey-2-darker;
$dropdown-bg            : $theme-grey-2-darker;
$dropdown-hover-item    : lighten($dropdown-bg, 5%);
$popup-bg               : $theme-grey;
$popup-header-bg        : lighten($popup-bg, 5%);
$tooltip-bg             : $theme-gray-lighter;
$button-accept-bg       : $theme-blue-lighter;
$button-cancel-bg       : lighten($theme-grey-2, 15%);

//----- scrollbar -----//
$theme-scroll-bar     : hsl(0, 0%, 20%);
$scroll-bar-main-color: $theme-scroll-bar;

$scroll-bar-1-track: hsl(0, 0%, 15%);
$scroll-bar-1-thumb: hsl(0, 0%, 25%);
$scroll-bar-2-track: hsl(0, 0%, 50%);
$scroll-bar-2-thumb: hsl(0, 0%, 20%);

//----- basic htlm elements -----//
$input-fields   : $theme-gray-lighter-2;
$code-editor-bg : $documentation-bg;
$pre-tag-bg     : $theme-gray-lighter-2;
$code-tag-bg    : $theme-gray-lighter-2;
$fieldset-tag-bg: $theme-grey-darker;

//----- text -----//
$positive-change: #06df2e;
$negative-change: lighten(#c02614, 5%);
$button-text    : lighten($theme-text, 10%);
$placeholder    : darken($theme-text, 15%);

//----- templates -----//
$coins-positive   : lighten(#5799c1, 2%);
$coins-negative   : lighten(#c02614, 5%);

$red-bg           : darken(#861c10, 10%);
$yellow-bg        : darken(#f3f0b0, 60%);
$green-bg         : #1e5400;
$green-lighter-bg : #006d13;

$navbox-title-bg  : $theme-blue;
$navbox-title-2-bg: $theme-blue-lighter;
$navbox-group-bg  : $theme-grey-2-darker;

$infobox-background: $table-data;
$infobox-header-color: #246c97;
$infobox-subheader-color: #6ba5c8;
$infobox-cell-border: $theme-borders;
$infobox-header-border: $table-data;

// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      Imports
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import "Mixins.scss";

@import "Categories.scss";
@import "Custom classes.scss";
@import "Media.scss";
// @import "GEcharts.scss";
@import "HTML tags.scss";
@import "Interactive input.scss";
// @import "Lua, js, css pages.scss";
// @import "Messageboxes.scss";
// @import "Namespace specific styling.scss";
// @import "Page header.scss";
// @import "Page history.scss";
// @import "Page specific styles.scss";
// @import "Popups.scss";
// @import "Source editor.scss";
@import "Tables.scss";
@import "Templates.scss";
// @import "Visual editor.scss";

// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      General styling
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

// ==================
//      Wikipage
// ==================
// -----------------------------------
//      Background and text color
// -----------------------------------
.mw-body {
    color: $theme-text;
    background-color: $main-page-bg;
    border-color: $theme-borders;
    box-shadow: 0 0 7px fade($main-page-bg, 80%);
}

// links
a {
    color: $theme-links;

    &.new {
        color: $theme-redlinks;
    }
}

// Mediawiki help indicators
#mw-indicator-mw-helplink a {
    filter: invert(0.8);
    @include counter-inversion(color, $theme-links, 0.8);
}

// -----------------
//      Sidebar
// -----------------
body {
    background-color: $sidebar;
    // background-image: url("https://i.imgur.com/zG8u7oP.jpg");
    background-image: url("https://i.imgur.com/AFaXBVa.jpg");
    // background-image: url("https://i.imgur.com/NmS5DBk.jpg");
}

// --------------------------------
//      Common article styling
// --------------------------------
//----- Table of content -----//
.toc {
    background-color: $table-data;

    .toctitle {
        border: solid 1px $theme-borders;
        background: $table-header;
    }

    & > ul {
        border-color: $theme-borders;
    }

    ul ul {
        border-color: darken($theme-text, 10%);
    }
}



//----- "Redirected from" message -----//
#contentSub, 
#contentSub2 {
    color: darken($theme-text, 10%);
}

// ---------------------
//      Page footer
// ---------------------
#footer ul li {
    color: darken($theme-text, 5%);
}

// ---------------------
//      Page header
// ---------------------
.vectorTabs {
    padding: 0;
    background: $sidebar;
}

.vectorTabs li {
    background: $sidebar;

    &.selected {
        background: $main-page-bg;
        border: solid 1px $theme-borders;
        border-bottom: none;

        span {
            position: relative;
            top: -1px;
        }

        a {
            color: $theme-text;
        }
    }

    &:hover {
        background: lighten($sidebar, 5%);
    }
}

//----- "More" dropdown -----//
#mw-head .vectorMenu h3 {
    background: $sidebar;

    span {
        color: $theme-text;

        &:after {
            filter: invert(1);
        }
    }
}

#mw-head .vectorMenu:hover h3 {
    background: lighten($sidebar, 5%);
}

.vectorMenu .menu {
    background: $dropdown-bg;
    border-color: $theme-borders;

    li:hover {
        background: $dropdown-hover-item;
    }
}

//----- Searchbar -----//
#simpleSearch {
    background: $input-fields;
    // border: solid 1px $theme-borders;

    #searchInput {
        border: none;
    }

    #searchButton {
        background-color: transparent;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13"> <g fill="none" stroke="#54595d" stroke-width="2"> <path d="M11.29 11.71l-4-4"/> <circle cx="5" cy="5" r="4"/> </g> </svg>');
        background-position: center center;
        background-repeat: no-repeat;
    }

    #mw-searchButton {
        display: none;
    }
}

//----- Notification icons -----//
.mw-echo-notifications-badge::before {
    filter: invert(1);
}



// ------------------------
//      Page navigator
// ------------------------
// Example used on the bottom of [[Special:Search]]
// .paginator-page.active {
//     color: $theme-text;
// }

// .paginator-prev::after {
//     border-right-color: lighten($theme-text, 10%);
// }

// .paginator-next::after {
//     border-left-color: lighten($theme-text, 10%);
// }

// -------------------------------
//      Autocomplete dropdown
// -------------------------------
// .ui-autocomplete {
//     .dropdown-styling;
//     box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);

//     .ui-state-hover {
//         color: $theme-links;
//         background-color: $dropdown-hover-item;
//     }
// }

