// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      COLORS
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// =======================
//      Primay colors
// =======================
@theme-text          : #c5c5c5;
@theme-borders       : #52555a;
@theme-links         : #6bbaea;
@theme-redlinks      : #ba0000;
@theme-green         : #1e5400;
@theme-green-lighter : lighten(@theme-green, 2.5%);
@theme-grey          : #1e1e1e;
@theme-grey-darker   : darken(@theme-grey, 3.5%);
@theme-gray-lighter  : lighten(@theme-grey, 3%);
@theme-gray-lighter-2: lighten(@theme-grey, 9%);
@theme-grey-2        : lighten(@theme-grey, 8%);
@theme-grey-2-darker : darken(@theme-grey-2, 3%);
@theme-gray-2-lighter: lighten(@theme-grey-2, 20%);
@theme-blue          : #265588;
@theme-blue-lighter  : lighten(@theme-blue, 8%);

// ==========================
//      Secondary colors
// ==========================
//----- general -----//
@main-page-bg           : @theme-grey;
@homepage-module-bg     : @theme-grey-2;
@sidebar                : lighten(@theme-grey, 3%);
@pageheader-bg          : @theme-blue;
@fandomheader-bg        : @main-page-bg;
@table-data             : @theme-grey-2;
@table-header           : @theme-grey-2-darker;
@highlight-table-on     : @theme-green;
@highlight-table-hover  : @theme-green-lighter;
@documentation-bg       : @theme-gray-lighter;
@categories             : @theme-grey-darker;
@messageboxes           : @theme-grey-darker;
@edit-area-bg           : #a9a9a9;
@edit-area-sidebar-bg   : lighten(@main-page-bg, 7%);
@edit-area-sidebar-shade: @main-page-bg;
@rail-module-bg         : @theme-grey-2-darker;
@dropdown-bg            : @theme-grey-2-darker;
@dropdown-hover-item    : lighten(@dropdown-bg, 5%);
@popup-bg               : @theme-grey;
@popup-header-bg        : lighten(@popup-bg, 5%);
@tooltip-bg             : @theme-gray-lighter;
@button-accept-bg       : @theme-blue-lighter;
@button-cancel-bg       : lighten(@theme-grey-2, 15%);
@input-group-wrapper    : @theme-grey-darker;

//----- scrollbar -----//
@theme-scroll-bar     : hsl(0, 0%, 20%);
@scroll-bar-main-color: @theme-scroll-bar;

@scroll-bar-1-track: hsl(0, 0%, 15%);
@scroll-bar-1-thumb: hsl(0, 0%, 25%);
@scroll-bar-2-track: hsl(0, 0%, 50%);
@scroll-bar-2-thumb: hsl(0, 0%, 20%);

//----- basic htlm elements -----//
@input-fields  : @theme-gray-lighter-2;
@code-editor-bg: @documentation-bg;
@pre-tag-bg    : @theme-gray-lighter-2;
@code-tag-bg   : @theme-gray-lighter-2;

//----- text -----//
@positive-change: #06df2e;
@negative-change: lighten(#c02614, 5%);
@button-text    : lighten(@theme-text, 10%);
@placeholder    : darken(@theme-text, 15%);

//----- templates -----//
@coins-positive : lighten(#5799c1, 2%);
@coins-negative : lighten(#c02614, 5%);

@red-bg          : darken(#861c10, 10%);
@yellow-bg       : darken(#f3f0b0, 60%);
@green-bg        : #1e5400;
@green-lighter-bg: #006d13;

@navbox-title-bg  : @theme-blue;
@navbox-title-2-bg: @theme-blue-lighter;
@navbox-group-bg  : @theme-grey-2-darker;

@infobox-background     : @table-data;
@infobox-header-color   : @theme-blue;//#246c97;
@infobox-subheader-color: @theme-blue-lighter;//#6ba5c8;
@infobox-cell-border    : @theme-borders;
@infobox-header-border  : @table-data;

// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      Imports
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import "Mixins.less";
@import "ooui/ooui.less";

@import "Custom classes.less";
@import "Media.less";
// @import "GEcharts.less";
@import "HTML tags.less";
@import "Interactive input.less";
// @import "Lua, js, css pages.less";
@import "Messageboxes.less";
// @import "Namespace specific styling.less";
// @import "Page header.less";
@import "Page history.less";
// @import "Page specific styles.less";
// @import "Popups.less";
// @import "Source editor.less";
@import "Tables.less";
@import "Templates.less";
// @import "Visual editor.less";



// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡ 
//      General styling
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

// ==================
//      Wikipage
// ==================
// -----------------------------------
//      Background and text color
// -----------------------------------
.mw-body {
    color: @theme-text;
    background-color: @main-page-bg;
    border-color: @theme-borders;
    box-shadow: 0 0 7px fade(@main-page-bg, 80%);
}

// links
a,
image a,
table.wikitable a,
table.prettytable a,
table.messagebox a,
div.vectorTabs li a,
div.vectorMenu li a,
div#mw-panel div.portal div.body ul li a {
    .links();
}

.mw-body-content a.external, 
.mw-body-content a.extiw {
    .links();
}

// Mediawiki help indicators
#mw-indicator-mw-helplink a {
    // filter: invert(0.8);
    // .counter-inversion(color, @theme-links, 0.8);
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="@{theme-text}"> <path d="M12.001 2.085c-5.478 0-9.916 4.438-9.916 9.916 0 5.476 4.438 9.914 9.916 9.914 5.476 0 9.914-4.438 9.914-9.914 0-5.478-4.438-9.916-9.914-9.916zm.001 18c-4.465 0-8.084-3.619-8.084-8.083 0-4.465 3.619-8.084 8.084-8.084 4.464 0 8.083 3.619 8.083 8.084 0 4.464-3.619 8.083-8.083 8.083z"/> <path d="M11.766 6.688c-2.5 0-3.219 2.188-3.219 2.188l1.411.854s.298-.791.901-1.229c.516-.375 1.625-.625 2.219.125.701.885-.17 1.587-1.078 2.719-.953 1.186-1 3.655-1 3.655h1.969s.135-2.318 1.041-3.381c.603-.707 1.443-1.338 1.443-2.494s-1.187-2.437-3.687-2.437zM11 16h2v2h-2z"/> </svg>') left center no-repeat;
}

// -----------------
//      Sidebar
// -----------------
body {
    background-color: @sidebar;
    // background-image: url("https://i.imgur.com/zG8u7oP.jpg");
    background-image: url("https://i.imgur.com/AFaXBVa.jpg");
    // background-image: url("https://i.imgur.com/NmS5DBk.jpg");
}

#mw-panel .portal h3 {
    color: @theme-text;
}

// --------------------------------
//      Common article styling
// --------------------------------
//----- Table of content -----//
#toc {
    background-color: @table-data;

    .toctitle {
        border: solid 1px @theme-borders;
        background: @table-header;

        h2 {
            color: @theme-text;
        }

        a {
            .links();
        }
    }

    // border of the box
    & > ul {
        border-color: @theme-borders;
    }

    // indent guide
    ul ul {
        border-color: darken(@theme-text, 10%);
    }

    // text
    .toclevel-1 a {
        color: @theme-text;
    }

    .toclevel-2 a {
        color: darken(@theme-text, 10%);
    }
}

//----- "Redirected from" message -----//
#contentSub,
#contentSub2 {
    color: darken(@theme-text, 10%);
}

// ---------------------
//      Page footer
// ---------------------
#footer ul li {
    color: darken(@theme-text, 5%);
}

// ---------------------
//      Page header
// ---------------------
div.vectorTabs {
    padding: 0;
    background: @sidebar;
}

#mw-head .vectorTabs ul li {
    background-color: @sidebar;

    &.selected {
        background-color: @main-page-bg;
        border: solid 1px @theme-borders;
        border-bottom: none;

        span {
            position: relative;
            top: -1px;
        }

        a {
            color: @theme-text;
        }
    }

    &:hover {
        background-color: lighten(@sidebar, 5%);
    }
}

//----- "More" dropdown -----//
#mw-head #p-cactions.vectorMenu h3 {
    background: @sidebar;

    span {
        color: @theme-text;

        &:after {
            filter: invert(1);
        }
    }
}

#mw-head #p-cactions.vectorMenu:hover h3 {
    background: lighten(@sidebar, 5%);
}

#mw-head .vectorMenu .menu {
    background: @dropdown-bg;
    border-color: @theme-borders;

    li:hover {
        background: @dropdown-hover-item;
    }
}

//----- Searchbar -----//
#mw-head #simpleSearch {
    background: @input-fields;

    #searchInput {
        .text-input-styling();
        border: none;
    }

    #searchButton {
        background-color: transparent;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13"> <g fill="none" stroke="@{theme-text}" stroke-width="2"> <path d="M11.29 11.71l-4-4"/> <circle cx="5" cy="5" r="4"/> </g> </svg>');
        background-position: center center;
        background-repeat: no-repeat;
    }

    #mw-searchButton {
        display: none;
    }
}

//----- Notification icons -----//
.mw-echo-notifications-badge::before {
    filter: invert(1);
}

// -------------------------------
//      Autocomplete dropdown
// -------------------------------
.suggestions-results {
    background: @dropdown-bg;
    border-color: @theme-borders;
}

.suggestions-result {
    color: @theme-text;
}

.suggestions-special {
    &:extend(.suggestions-results);

    .special-label {
        color: darken(@theme-text, 10%);
    }

    .special-query {
        color: @theme-text;
    }
}

.suggestions-result-current {
    background: @dropdown-hover-item;
    color: lighten(@theme-text, 10%);

    .special-label {
        color: @theme-text;
    }

    .special-query {
        color: lighten(@theme-text, 10%);
    }
}

// =====================================
//      Categories on wiki articles
// =====================================
.catlinks {
    background: @categories;
    border-color: @theme-borders;
}