// ========================
//      General styles
// ========================
// These styles apply to lua, js and css pages

// -----------------------
//      Preview pages
// -----------------------
.source-lua,
.source-css,
.source-javascript {
    background-color: $code-editor-bg;
    color: darken($theme-text, 5%);
}

// -------------------
//      Edit page
// -------------------
.editpage-editarea {
    background-color: $code-editor-bg;
    color: darken($theme-text, 5%);
}

// Row count sidebar
.ace_gutter {
    background-color: lighten($code-editor-bg, 5%);
    color: $theme-text;
}

// Active line highlight
.ace_marker-layer .ace_active-line {
    background-color: $code-editor-bg;
    border-top: solid 2px lighten($code-editor-bg, 6.5%);
    border-bottom: solid 2px lighten($code-editor-bg, 6.5%);
}

.ace_gutter-active-line {
    background-color: lighten($code-editor-bg, 8%);
}

// Selection highlight
.ace_marker-layer .ace_selection {
    background-color: fade(lighten($code-editor-bg, 32.5%), 20%);
}

.ace_cursor {
    color: $theme-text;
}

.EditPageEditor .editpage-editarea {
    border-color: $theme-borders;
}

// Scrollbar styling
.ace_scrollbar,
.ace_scrollbar-h {
    @include scroll-bar-styling();
}

//----- Search bar in editor -----//
// Popup
.ace_search {
    background-color: darken($code-editor-bg, 3%);
    border-color: $theme-borders;
}

// Cancel button
.ace_searchbtn_close {
    background: none;

    &::before {
        content: "✖";
        color: $button-text;
        font-size: 0.8em;
    }

    &:hover {
        background: $button-cancel-bg;
    }
}

// Searchbar
.ace_search_form {
    @include text-input-styling();
}

// Previous/next buttons
.ace_searchbtn {
    background: lighten($code-editor-bg, 20%);
    border-color: lighten($code-editor-bg, 10%);;

    &.prev:before {
        content: "▲";
        color: $theme-text;
    }

    &.next:before {
        content: "▼";
        color: $theme-text;
    }

    &:hover {
        background: lighten($code-editor-bg, 30%);
    }
}

// Search options
.ace_search_options .ace_button {
    color: $theme-text;
    border-color: $theme-borders;

    &:hover {
        background-color: lighten($code-editor-bg, 10%);
    }

    &.checked {
        background-color: lighten($code-editor-bg, 20%);
    }
}

// ---------------------------
//      code highlighting
// ---------------------------
// variables and function declaration highlights
.ace_storage,
.kw0 {
    color: #14dc1c;
}

// Dotted indent guide
.ace_indent-guide {
    filter: brightness(60%);
}

// function/variable call highlight
.ace_entity.ace_name.ace_function,
.ace_entity.ace_name.ace_tag,
.ace_support.ace_function,
.ace_variable,
.ace_variable.ace_language,
.me1,
.kw3 {
    color: lighten(#268BD2, 10%);
}

// keywords
.ace_keyword,
.ace_meta,
.ace_support.ace_class,
.ace_support.ace_type,
.kw1 {
    color: #c9e411;
}


// ===================
//      Lua pages
// ===================
// ------------------------
//      Module console
// ------------------------
#mw-scribunto-console,
.mw-scribunto-console-fieldset {
    color: $theme-text;
    background-color: $edit-area-sidebar-bg;
}

.mw-scribunto-message {
    background: none;
    color: darken($theme-text, 10%);
}

// Output area
.mw-scribunto-input {
    color: $theme-links;
}

.mw-scribunto-normalOutput,
.mw-scribunto-print {
    background: none;
    color: $theme-text;
}

.mw-scribunto-error {
    background: none;
}

// Text input area
#mw-scribunto-input {
    @include text-input-styling();
}