// ===================
//      Wikipedia
// ===================
table.wikipedia {
    background: $messageboxes;
    border: none;
}

// ====================================
//      Info and warn messageboxes
// ====================================
.messagebox,
.official,
.forumheader {
    background-color: $messageboxes;
}

.messagebox {
    &.obsolete,
    &.info,
    &.action,
    &.file,
    &.warn,
    &.disambig,
    &.safe,
    &.unsafe,
    &.easter,
    &.halloween,
    &.thanksgiving,
    &.christmas {
        background: $messageboxes;
    }
}

// =========================
//      Create new page
// =========================
.noarticletext .tile {
    background-color: $messageboxes;
    border-color: $theme-borders;
}

// ==========================
//      Edit page notice
// ==========================
// Example: protected pages, [[https://runescape.wiki/w/Template:Clear?action=edit]]
.editnotice {
    background: $messageboxes;
    color: $theme-text;
    border-color: $theme-borders;
}