// =====================
//      Edit button
// =====================
#ca-edit,           // Source mode edit button
#ca-ve-edit,        // Visual mode edit button
#ca-addsection,     // Talk page add secton
#ca-viewsource {
    @include button-styling();
    border-right-color: $button-text;

    &:hover {
        border-right-color: $button-text;
    }

    // Pencil image
    img {
        filter: brightness(85%);
    }

    // Dropdown button
    & + div.wds-dropdown {
        // Button color
        .wds-button {
            @include button-styling();
            border-left-color: $button-text;

            &:hover {
                border-left-color: $button-text;
            }
        }

        // Content colors
        @include dropdown-pointer-styling();

        .wds-dropdown__content {
            @include dropdown-styling();
        }
    }
}

// Prevent button styling when the button is located in the dropdown list
#ca-edit,
#ca-ve-edit,
#ca-addsection {
    & + .wds-dropdown &,
    & ~ .WikiaMenuElement & {
        color: $theme-text;
        background: none;
        border: none;

        &:hover {
            color: $theme-links;
            background-color: $dropdown-hover-item;
        }
    }
}

// [[Special:Images]]
#page-header-add-new-photo {
    @include button-styling();

    img {
        filter: brightness(85%);
    }
}

// For talk and share button button
.wds-button.wds-is-secondary {
    color: darken($theme-text, 5%);
    border-color: $theme-borders;

    &:hover {
        color: lighten($theme-text, 10%);
        border-color: lighten($theme-borders, 15%);
    }
}

// For profile edit button and module save button
.wikia-menu-button {
    border: none;

    .codepage-publish-button,
    .drop {
        @include button-styling();
    }

    img.chevron {
        border-top-color: $button-text ;
    }

    ul {
        background-color: $dropdown-bg;
        border-color: $theme-borders;

        li {
            border-top: 1px solid $theme-borders;

            a {
                color: $theme-text;

                &:hover {
                    background-color: $dropdown-hover-item;
                    color: $theme-links;
                }
            }

            &:first-child {
                border-top: none;
            }

            &:hover {
                background-color: transparent;
            }
        }
    }
}

// =========================
//      Language select
// =========================
#PageHeader .page-header__languages {
    @include dropdown-pointer-styling();

    .wds-dropdown__content {
        @include dropdown-styling();

        ul {
            @include scroll-bar-styling();
        }
    }
}

// ======================================
//      Categories ovelflow dropdown
// ======================================
#PageHeader .page-header__categories-dropdown {
    @include dropdown-pointer-styling();

    .page-header__categories-dropdown-content {
        @include dropdown-styling();

        ul {
            @include scroll-bar-styling();
        }
    }
}

// ==========================
//      Wikiapage header
// ==========================
.wds-community-header {
    // -------------------------------
    //      Blue background color
    // -------------------------------
    background-color: $pageheader-bg;

    &::before {
        background-image: linear-gradient( 270deg, fadeout($pageheader-bg, 50%) 0px, fadeout($pageheader-bg, 50%) 200px, $pageheader-bg 430px );
    }

    // --------------------
    //      Text color
    // --------------------
    &,
    .wds-community-header__counter,
    .wds-tabs__tab-label,
    .wds-icon,
    a {
        color: lighten($theme-text, 10%);
    }

    .wds-button.wds-is-secondary {
        color: lighten($theme-text, 10%);
        border-color: lighten($theme-text, 10%);

        svg {
            fill: lighten($theme-text, 10%);
        }
    }
}

// -------------------
//      Dropdowns
// -------------------
.wds-dropdown {
    @include dropdown-pointer-styling();

    .wds-is-selected > a {
        color: $theme-links;
        background-color: $dropdown-hover-item;
    }
}

.wds-dropdown__content {
    &,
    .wds-dropdown-level-2__content {
        @include dropdown-styling();
    }

    li:hover > a:not(.wds-button) {
        color: $theme-links;
        background-color: $dropdown-hover-item;
    }
}

// http://dev.wikia.com/wiki/UTCClock
#DisplayClockJS {
    color: lighten($theme-text, 10%);
}

// Header bottom line
.WikiaPage .page-header__separator {
    background-color: $theme-borders;
}

// =======================
//      Fandom header
// =======================
#globalNavigation {
    box-shadow: 0 1px 0 0 darken($fandomheader-bg, 10%);
}

// --------------------------
//      Background color
// --------------------------
#globalNavigation,
.wds-global-navigation__logo,
.wds-global-navigation__link,
.wds-global-navigation__wikis-menu,
.wds-global-navigation__search,
.wds-global-navigation__user-menu,
.wds-global-navigation__account-menu,
.wds-global-navigation__notifications-menu,
.wds-global-navigation__start-a-wiki {
    background-color: $fandomheader-bg;
    color: $theme-text;
}

.wds-global-navigation__link,
.wds-global-navigation__wikis-menu,
.wds-global-navigation__user-menu,
.wds-global-navigation__account-menu,
.wds-global-navigation__notifications-menu {
    &:hover {
        color: lighten($theme-text, 15%);
    }
}

// --------------------
//      Text color
// --------------------
//----- fandom logo -----//
#wds-company-logo-fandom-white > g > path:last-child {
    fill: $theme-text;
}

//----- notification icons -----//
.wds-global-navigation__notifications-dropdown .wds-icon-small path {
    fill: darken($theme-text, 10%);
}

.wds-global-navigation__notifications-dropdown:hover .wds-icon-small path {
    fill: darken($theme-text, -5%);
}

//----- When logged in -----//
.wds-global-navigation__user-menu.wds-global-navigation__user-logged-in .wds-avatar__image {
    border-color: lighten($fandomheader-bg, 10%);
    fill: lighten($fandomheader-bg, 10%);
}

.wds-global-navigation__user-menu:hover.wds-global-navigation__user-logged-in .wds-avatar__image {
    border-color: lighten($fandomheader-bg, 40%);
    fill: lighten($fandomheader-bg, 40%);
}

//----- When not logged in -----//
.wds-global-navigation__user-menu li {
    color: $theme-text;
    border-color: $theme-borders;

    .wds-button {
        @include button-styling();

        &.wds-is-secondary {
            @include button-styling("cancel");
        }
    }
}

.wds-global-navigation__user-menu .wds-avatar__image {
    border-color: lighten($fandomheader-bg, 30%);
    fill: lighten($fandomheader-bg, 30%);
}

.wds-global-navigation__user-menu:hover .wds-avatar__image {
    border-color: lighten($fandomheader-bg, 50%);
    fill: lighten($fandomheader-bg, 50%);
}

//----- Dropdown chevrons -----//
.wds-global-navigation-wrapper .wds-dropdown__toggle-chevron {
    fill: #ff6a64;
}

// -------------------
//      Searchbar
// -------------------
.wds-global-navigation__search-label {
    background-color: $fandomheader-bg;

    path {
        fill: darken($theme-text, 15%);
    }
}

.wds-global-navigation__search-input {
    background-color: $fandomheader-bg;
    color: $theme-text;

    &::placeholder {
        color: $placeholder;
    }
}

.wds-global-navigation__search-submit {
    @include button-styling();
}

.wds-global-navigation__search-close {
    &,
    &:hover {
        background-color: transparent;
    }
}

.wds-global-navigation__search-input-wrapper {
    border-bottom-color: $theme-borders;
}

// -------------------
//      Dropdowns
// -------------------
// Account login/logout
.wds-sign-out__button {
    @include button-styling();
}

#global-navigation-anon-sign-in {
    @include button-styling();
}

#global-navigation-anon-register {
    @include button-styling("cancel");
}

// Notifications
.wds-notifications__dropdown-content {
    color: $theme-text;

    .wds-notifications__zero-state {
        color: darken($theme-text, 15%);
    }
}

// Messages
#GlobalNavigationWallNotifications {
    .notification {
        border: none;
        color: $theme-text;
        background: $dropdown-bg;

        &.empty {
            color: darken($theme-text, 15%);
        }
    }

    @include dropdown-styling();
}