.EditPageHeader {
    background-color: $edit-area-sidebar-bg;
    border-color: $theme-borders;
    box-shadow: none;

    &,
    h2 {
        color: $theme-text;
    }
}

#EditPageMain,
.EditPage {
    background-color: $edit-area-sidebar-bg;
}

// =============================================
//      Toolbar at the top left of the page
// =============================================
.EditPageToolbar {
    background-color: $edit-area-sidebar-bg;
    background-image: linear-gradient( 0deg, $edit-area-sidebar-shade 0%, $edit-area-sidebar-bg 50% );
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.3);
    border-color: $theme-borders;

    // "+ more" button
    .cke_toolbar_expand a {
        color: $theme-text;
    }
}

// ======================================================
//      Main actions: edit summary, preview and save
// ======================================================
.preview_box {
    border-color: $theme-borders;

    // remove default header styling
    h3.preview-header {
        color: $theme-text;
        background: none;
    }

    // preview buttons
    svg {
        fill: $theme-text;
    }

    .preview_icon {
        border-color: $theme-borders;

        p {
            color: darken($theme-text, 10%);
        }
    }
}

// =================
//      Sidebar
// =================
.EditPageRail {
    background-color: $edit-area-sidebar-bg;
    box-shadow: "-2px 2px 2px #{$edit-area-sidebar-shade}, -1px 0 0 #{$edit-area-sidebar-shade}";
}

.editpage-sourcewidemode-on .EditPageRail {
    background-color: transparent;
    box-shadow: none;
}

.editpage-sourcewidemode-on .arrow {
    border-right-color: $theme-text;
}

.editpage-widemode-trigger {
    border-left-color: $theme-borders;

    .arrow {
        border-left-color: $theme-text;
    }
}

// Module tiles
.module_content {
    background-color: $edit-area-sidebar-bg;
    background-image: linear-gradient( 0deg, $edit-area-sidebar-shade 0%,  $edit-area-sidebar-bg 50% );
    color: $theme-text;
}

.editpage-sourcewidemode-on .module_content {
    background-color: transparent;
    background-image: none;
    color: $theme-text;
}

.module h3 {
    background-color: $edit-area-sidebar-shade;
    background-image: linear-gradient( 0deg, $edit-area-sidebar-shade 0%,  $edit-area-sidebar-bg 100% );
    color: $theme-text;

    .chevron.collapse {
        border-bottom-color: $theme-text;
    }

    .chevron.expand{
        border-top-color: $theme-text;
    }
}

// "Add features and media" module
.cke_button a {
    @include button-styling();

    .cke_label {
        color: $theme-text;
    }
}

// "Categories" module
.EditPage .CategorySelect .categories {
    @include text-input-styling();

    .category {
        color: $theme-text;

        &.ui-sortable-helper,
        &:hover {
            background-color: lighten($input-fields, 10%);
        }
    }
}

// "License" module
.module_license p {
    color: darken($theme-text, 10%);
}

// ===================
//      Text area
// ===================
// bg layer
#wpTextbox0 {
    background-color: $edit-area-bg;
    @include scroll-bar-styling("style-2");
}

// text-layer
#wpTextbox1 {
    color: black;
    background-color: $edit-area-bg;
    @include scroll-bar-styling("style-2");
}

.loading-background,
.loading-message,
.loading-throbber {
    background-color: $edit-area-bg;
}

// ==================================
//      Wikitext shortcuts popup
// ==================================
#editpage-specialchars {
    border-color: $theme-borders;
}

// ===============================
//      Article preview popup
// ===============================
#EditPageDialog.preview .modalContent .ArticlePreview {
    border-color: $theme-borders;
    @include scroll-bar-styling();
}

// =============================
//      Edit category popup
// =============================
.WikiaForm .input-group {
    & [type='text'],
    & [type='url'],
    & [type='password'],
    & [type='email'],
    & textarea {
        @include text-input-styling();
        box-shadow: none;
    }
}