// =====================================
//      Categories on wiki articles
// =====================================
.CategorySelect.articlePage {
    // Save-cancel toolbar
    div.toolbar {
        background-color: lighten(@categories, 2%);
        border-top-color: @theme-borders;
    }
    
    // Newly added category (before saving)
    .category.new {
        border-color: @theme-gray-2-lighter;
        color: @button-text;
        
        &,
        ul.toolbar {
            background-color: @theme-gray-2-lighter;
        }
    }
}

.CategorySelect.articlePage, 
.article-categories {
    background: @categories;
}

#CategorySelectAdd {
    .button-styling("cancel");
}

// ============================
//      Category namespace
// ============================
// ---------------
//      Files
// ---------------
.WikiaArticle li.gallerybox {
    border-color: @theme-borders;
    background-color: @theme-grey-2-darker;
    
    div.thumb {
        background: @theme-grey-2;
        border-color: @theme-grey-2; 
    }
}

// Sound
.ogg-player-options {
    border-color: @theme-borders;
}