// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      COLORS
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@body-color:            #232323;
@main-page-bg:          #262626;
@main-text:             #c5c5c5;
@table-data:            #36393E;
@table-header:          #2F3136;
@table-border:          #52555a;
@categories:            #1d1d1d;
@messasgeboxes:         @categories;
@links:                 #6bbaea; //#e0960b; //#de6a14; //#01c023; //#5799c1;
@redlinks:              #ba0000;
@input-fields:          #3e3e3e;
@highlight-table-hover: #006d13;
@highlight-table-on:    #1e5400;
@coins-positive:        lighten(#5799c1, 2%); //#01c023;
@coins-negative:        lighten(#c02614, 5%);
@documentation-bg:      lighten(@main-page-bg, 3%);
@code-editor-bg:        @documentation-bg;
@code-tag-bg:           lighten(@main-page-bg, 9%);
@pre-tag-bg:            lighten(@main-page-bg, 9%);
@edit-area-bg:          #a9a9a9;
@theme-blue:            #265588; //darken(#438ab5, 15%);
@theme-blue-lighter:    lighten(@theme-blue, 8%);
@scroll-bar-main-color: hsl(0, 0%, 20%);
@red-bg:                darken(#861c10, 10%);
@yellow-bg:             darken(#f3f0b0, 60%);
@green-bg:              #1e5400;
@green-lighter-bg:      #006d13;
@positive-change:       #06df2e; 
 
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      Imports
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
@import "Mixins.less";
@import "Tables.less";
@import "Files.less";
@import "Popups.less";
@import "Messageboxes.less";
@import "Templates.less";
@import "Links.less";
@import "Elements.less";
@import "GEcharts.less";
@import "Custom classes.less";
@import "Page specific styles.less";
@import "Page history.less";
@import "Source editor.less";
@import "Visual editor.less";
@import "Page header.less";
@import "Categories.less";
@import "Namespace specific styling.less";
@import "Lua, js, css pages.less";

// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
//      General styling
// ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

// =========================================
//      Body background image and color
// =========================================
body.background-dynamic.skin-oasis {
    background-color: @body-color;
    
    &::before {
        margin-left: -1282px;
    }
    
    &::after {
        margin-right: -1282px;
        background-position: -710px 0;
    }
    
    &::before,
    &::after {
        background-image: url('https://i.imgur.com/7qET5bp.jpg');
        width: 790px;
        height: 844px;
    }
    
    .background-image-gradient {
        background: none;
        
        &::before {
            left: calc(~"50% - 532px");
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), @main-page-bg);
        }
        
        &::after {
            right: calc(~"50% - 532px");
            background-image: linear-gradient(270deg, rgba(0, 0, 0, 0), @main-page-bg);
        }
        
        &::before,
        &::after,
        & {
            height: 834px;
        }
    }
}

// ===================
//      Wikiapage
// ===================

// -----------------------------------
//      Background and text color
// -----------------------------------
.WikiaPage {
    border: 1px solid @table-border;
    
    .WikiaPageBackground {
        background-color: @main-page-bg;
    }
    
    // Page title text color
    .page-header__title {
        color: @main-text;
    }
}

// Text color
body {
    color: @main-text;
}

// Section separation line color
.WikiaArticle h2 {
    border-bottom: solid 1px @table-border;
}

// --------------------------
//      Table of content
// --------------------------
.WikiaArticle .toc {
    .table-infobox;
}

// ---------------------------------------------------
//      Other languages at the bottom of the page
// ---------------------------------------------------
.WikiaArticleInterlang {
    background: @categories;
}

// ------------------
//      Wikirail
// ------------------
#WikiaRail {
    .rail-module,
    .module {
        background: @table-header;
    }
    
    a {
        color: @links;
    }
    
    .edit-info-time,
    .rail-sticky-module .premium-recirculation-rail .content {
        color: @main-text;
    }
    
    #wikia-recent-activity {
        h2.has-icon {
            border-bottom-color: @table-border;
            
            svg {
                fill: darken(@main-text, 15%);
            }
        }
        
        .community-page-rail-module {
            border-top-color: @table-border;
            
            .wds-avatar {
                border-color: @table-border;
            }
        }
    }
    
    // js "Enter test mode" button
    .content-review-module-test-mode-enable {
        .button-styling("cancel");
    }
    
    // Discord invite button
    #rsw-discord .wds-button {
        color: #fff;
    }
    
    // Trending fandom articles
    #WikiaAdInContentPlaceHolder svg {
        fill: darken(@main-text, 15%);
    }
}

// ------------------------
//      Page navigator
// ------------------------
// Example used on the bottom of [[Special:Search]]
.wikia-paginator ul {
    .paginator-page.active {
        color: @main-text !important;
    }
    
    .paginator-prev,
    .paginator-next {
        .button-styling("cancel");
    }
    
    .paginator-prev::after {
        border-right-color: lighten(@main-text, 10%);
    }
    
    .paginator-next::after {
        border-left-color: lighten(@main-text, 10%);
    }
}

// -------------------------------
//      Autocomplete dropdown
// -------------------------------
body .ui-autocomplete {
    .dropdown-styling;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
    
    .ui-menu-item a:hover {
        color: @links;
        background-color: lighten(@table-header, 5%);
    }
}

// ---------------------
//      Page footer
// ---------------------
.WikiaBarWrapper .tools-menu {
    .dropdown-styling;
    
    > li {
        border-top-color: @table-border;
    }
}

// ===================
//      Hide adds
// ===================
#WikiaTopAds,   // Page header
#WikiaAdInContentPlaceHolder, // Sidebar
#top-right-boxad-wrapper,   // Sidebar
#mixed-content-footer .mcf-content,  // Page footer
#BOTTOM_LEADERBOARD     // Page footer
{
    display: none !important;
}