// ===================
//      HTML tags
// ===================
.WikiaArticle  {
    pre {
        border: solid 1px lighten(@pre-tag-bg, 5%);
        background-color: @pre-tag-bg;
        color: @main-text;
    }
    
    code {
        border: solid 1px lighten(@code-tag-bg, 5%);
        background-color: @code-tag-bg;
        color: @main-text;
    }

    fieldset {
        border-color: @table-border;
        background-color: darken(@main-page-bg, 3%);
    }
}

hr {
    border-color: @table-border;
}

// ======================
//      Input fields
// ======================

// ---------------------------
//      Text input fields
// ---------------------------
.WikiaPage,
.modalWrapper,
.ui-dialog {
    input:not([type="submit"]):not([type=button]):not([type="reset"]) {
        .text-input-styling;
    }
}

textarea {
    .text-input-styling;
    .scroll-bar-styling;
}

// -----------------------------
//      Select input fields
// -----------------------------
.WikiaPage,
.modalWrapper,
.ui-dialog {
    select {
        .text-input-styling;
    }
}

// -----------------------------
//      Dropdown checkboxes
// -----------------------------
// Example: [[Special:RecentChanges]]
.WikiaDropdown {
    .selected-items {
        background-color: @input-fields;
        border-color: @table-border;
        
        .arrow {
            border-top-color: @main-text;
        }
        
        &:hover {
            background-color: lighten(@input-fields, 5%);
        }
    }
    
    .dropdown {
        background-color: @table-header;
        border-color: @table-border;
        .box-shadow(0 3px 6px 0 @table-header);
        
        .scroll-bar-styling;
        
        .toolbar {
            background-color: darken(@table-header, 3%);
            border-bottom-color: @table-border;
        }
        
        .dropdown-item {
            &:hover {
                background-color: lighten(@table-header, 5%);
            }
            
            &.selected {
                background-color: lighten(@table-header, 2%);
            }
        }
    }
}

// =================
//      Buttons
// =================
a.wikia-button, 
.wikia-single-button a,
.wikia-menu-button,
input[type="submit"]:not(.wds-button), 
input[type="reset"]:not(.wds-button), 
input[type="button"]:not(.wds-button), 
.button:not(.wds-button),
a.button:not(.wds-button),
button:not(.wds-button) {
    .button-styling;
    
    &.secondary {
        .button-styling("cancel");
    }
}
