// ===================
//      HTML tags
// ===================
pre {
    border: solid 1px lighten(@pre-tag-bg, 5%);
    background-color: @pre-tag-bg;
}

code {
    border: solid 1px lighten(@code-tag-bg, 5%);
    background-color: @code-tag-bg;
}

fieldset {
    border-color: @theme-borders;
    background-color: @fieldset-tag-bg;
}

hr {
    border-color: @theme-borders;
}

// ======================
//      Input fields
// ======================
// ---------------------------
//      Text input fields
// ---------------------------
.WikiaPage,
.modalWrapper,
.ui-dialog {
    input:not([type="submit"]):not([type=button]):not([type="reset"]):not([type="checkbox"]) {
        .text-input-styling;
    }
}

textarea {
    .text-input-styling;
    .scroll-bar-styling;
}

// -----------------------------
//      Select input fields
// -----------------------------
.WikiaPage,
.modalWrapper,
.ui-dialog {
    select {
        .text-input-styling;
    }
}

// -----------------------------
//      Dropdown checkboxes
// -----------------------------
// Example: [[Special:Recentchanges]]
.WikiaDropdown {
    .selected-items {
        background-color: @input-fields;
        border-color: @theme-borders;

        .arrow {
            border-top-color: @theme-text;
        }

        &:hover {
            background-color: lighten(@input-fields, 5%);
        }
    }

    .dropdown {
        background-color: @theme-grey-2-darker;
        border-color: @theme-borders;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);

        .scroll-bar-styling;

        .toolbar {
            background-color: darken(@theme-grey-2-darker, 3%);
            border-bottom-color: @theme-borders;
        }


        li {
            background-color: @theme-grey-2-darker;

            &:hover {
                background-color: lighten(@theme-grey-2-darker, 5%);
            }
        }
    }
}

// =================
//      Buttons
// =================
.wikia-button,
.wikia-single-button a,
.wikia-menu-button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    .button-styling;

    &.secondary {
        .button-styling("cancel");
    }
}

// ======================
//      Tex formulas
// ======================
img.tex {
    filter: invert(0.85);
}

#MathJax_Zoom {
    background-color: @theme-grey-2-darker;
    border-color: @theme-borders;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    .scroll-bar-styling();
}