// ===============================
//      Article image and gif
// ===============================
.article-thumb, 
.gifresize,
.extimage,
.WikiaArticle .thumbinner {
    .table-infobox;
    background-image: none;
    
    .caption,
    .thumbcaption {
        width: auto;
        color: @main-text;
        border-top: solid 1px @table-border;
    }
}

// =====================
//      Musicplayer
// =====================
.musicplayer {
    .table-infobox;
}

// ======================
//      Tex formulas
// ======================
img.tex {
    filter: invert(0.85);
}