// ===============================
//      Article image and gif
// ===============================
.article-thumb,
.gifresize,
.extimage,
.WikiaArticle .thumbinner {
    .table-infobox;
    background-image: none;

    .caption,
    .thumbcaption {
        width: auto;
        color: @theme-text;
        border-top: solid 1px @theme-borders;
    }
}

// =====================
//      Musicplayer
// =====================
.musicplayer {
    .table-infobox;
}