// ===============================
//      Article image and gif
// ===============================
.article-thumb, 
.gifresize,
.extimage {
    .table-infobox;
    
    .caption {
        width: auto;
        color: @main-text;
        border-top: solid 1px @table-border;
    }
}

// =====================
//      Musicplayer
// =====================
.musicplayer {
    //background: @table-data;
    //border: 1px solid @table-border;
    .table-infobox;
}

// ======================
//      Tex formulas
// ======================
img.tex {
    .filter(invert(0.85));
}