/*
=================================
     Runescape wiki darkmode
=================================
Version: 1.9
Release date: 18-apr-2018
GitHub: https://github.com/CephHunter/RS-wiki-DarkMode
License: CC-BY-SA-4.0


If on stylish for firefox, add "@-moz-document domain("runescape.wikia.com") { }" around code
*/