// ===================
//      Wikipedia
// ===================
table.wikipedia {
    background: @messasgeboxes !important;
    border: none !important;
}

// ====================================
//      Info and warn messageboxes
// ====================================
.messagebox {
    &,
    &.info,
    &.warn,
    &.obsolete,
    &.file,
    &.action,
    &.disambig,
    &.unsafe,
    &.easter,
    &.halloween,
    &.thanksgiving,
    &.christmas,
    &.safe {
        &:extend(.official);
    }
}

.official,
.forumheader {
    background-color: @messasgeboxes;
}

.messagebox.fimg {
    background-color: @messasgeboxes !important;
}

// =================================
//      Edit page intro wrapper
// =================================
// Eample: protected pages, [[http://runescape.wikia.com/wiki/Template:Clear?action=edit]]
.editpage-intro {
    border-color: @table-border;
    
    & > .editpage-intro-wrapper > div {
        background-color: @messasgeboxes;
        color: @main-text;
    }
}