// ===================
//      Wikipedia
// ===================
table.wikipedia {
    background: @messasgeboxes !important;
    border: none !important;
}

// ====================================
//      Info and warn messageboxes
// ====================================
.messagebox {
    &,
    &.info,
    &.warn,
    &.obsolete,
    &.file,
    &.action,
    &.disambig,
    &.unsafe,
    &.easter,
    &.halloween,
    &.thanksgiving,
    &.christmas,
    &.safe {
        &:extend(.official);
    }
}

.official,
.forumheader {
    background-color: @messasgeboxes;
}

.messagebox.fimg {
    background-color: @messasgeboxes !important;
}

// ==========================================
//      Viewing old/new revision warning
// ==========================================
div#viewingold-warning, 
div#viewingnew-warning {
    .table-infobox;
}