// ===================
//      Wikipedia
// ===================
table.wikipedia {
    background: @messasgeboxes !important;
    border: none !important;
}

// ====================================
//      Info and warn messageboxes
// ====================================
.messagebox, 
.messagebox.info, 
.messagebox.warn, 
.messagebox.obsolete, 
.forumheader, 
.messagebox.file, 
.messagebox.action, 
.messagebox.thanksgiving,
.messagebox.safe,
.official {
    background-color: @messasgeboxes;
}

.messagebox.fimg {
    background-color: @messasgeboxes !important;
}

// ==========================================
//      Viewing old/new revision warning
// ==========================================
div#viewingold-warning, 
div#viewingnew-warning {
    .table-infobox;
}