// ================
//      Tables
// ================
.table-data() {
    //color: @main-text;
    border: solid 1px @table-border;
}

.table-header() {
    background-color: @table-header;
    //color: @main-text;
    border: solid 1px @table-border;
}

.table-wikitable() {
    background-color: @table-data;
    color: @main-text;
    border: none;
}

.table-infobox() {
    background-color: @table-data;
    color: @main-text;
    border: solid 1px @table-border;
}

// ======================
//      Input fields
// ======================
//Buttons
.button-styling(@type: "default") {
    @button-text-color: lighten(@main-text, 10%);
    
    & when (@type = "no-hover") {
        color: @button-text-color;
        background-image: none;
        background-color: @theme-blue-lighter;
        border-color: @theme-blue-lighter;
        
        &:hover,
        &:active {
            color: @button-text-color;
            background-image: none;
            background-color: @theme-blue-lighter;
            border-color: @theme-blue-lighter;
        } 
    }
    
    & when (@type = "cancel") {
        color: @button-text-color;
        background-image: none;
        border-color: lighten(@table-data, 20%);
        background-color: lighten(@table-data, 20%);
        
        &:hover,
        &:active {
            color: @button-text-color;
            background-image: none;
            border-color: lighten(@table-data, 10%);
            background-color: lighten(@table-data, 10%);
        }
    }
    
    & when (@type = "default") {
        color: @button-text-color;
        background-image: none;
        background-color: @theme-blue-lighter;
        border-color: @theme-blue-lighter;
        
        &:hover,
        &:active {
            color: @button-text-color;
            background-image: none;
            background-color: lighten(@theme-blue-lighter, 10%);
            border-color: lighten(@theme-blue-lighter, 10%);
        } 
    }
}

//Text
.text-input-styling() {
    background-color: @input-fields; 
    color: @main-text;
    border: solid 1px @table-border;
}

// ===================
//      Dropdowns
// ===================
.dropdown-styling() {
    background-color: @table-header;
    border-color: @table-border;

    li > a {
        color: @main-text;
        
        &:hover {
            color: @links;
            background-color: lighten(@table-header, 5%);
        }
    }
    
    ul::before,
    ul::after {
        background: none;
    }
}       

.dropdown-pointer-styling() {
    &::before {
        border-bottom-color: @table-border;
    }
    
    &::after {
        border-bottom-color: @table-header;
    }
}

// ===================
//      Gradients
// ===================
.gradient(@type; @colors; @dir: 0deg; @prefixes: webkit, moz, ms, o; @index: length(@prefixes)) when (@index > 0) {
    .gradient(@type; @colors; @dir; @prefixes; (@index - 1));
 
    @prefix  : extract(@prefixes, @index);
    @dir-old : 90 - (@dir);
 
    background-image: ~"-@{prefix}-@{type}-gradient(@{dir-old}, @{colors})";
  & when ( @index = length(@prefixes) ) {
        background-image: ~"@{type}-gradient(@{dir}, @{colors})";
    }
}

// =====================
//      Placeholder
// =====================
.placeholder(@rules){
   &::-webkit-input-placeholder{
      @rules();
   }

   &:-moz-placeholder{
      @rules();
   }

   &::-moz-placeholder{
      @rules();
   }

   &:-ms-input-placeholder{
      @rules();
   }
   
   &::-ms-input-placeholder{
      @rules();
   }
}

// ====================
//      Scroll bar
// ====================
.scroll-bar-styling(@style: "styled") {
    & when (@style = "styled") {
        &::-webkit-scrollbar {
            width: 12px;
        }
        
        &::-webkit-scrollbar-track {
            .box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
            border-radius: 10px;
            background-color: @scroll-bar-main-color;
            border: solid 1px lighten(@scroll-bar-main-color, 2%);
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            .box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
            background-color: lighten(@scroll-bar-main-color, 10%);
            border: solid 1px lighten(@scroll-bar-main-color, 12%);
        }
    }
    
    & when (@style = "default") {
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            all: unset;
        }
    }
}