// ====================
//      Transcript
// ====================
.ns-120 .mw-content-text,
.transcript {

    > ul,
    > ul ul {
        li {
            b:first-child {
                // First bold word should always be the character
                color: #01c023;
            }
        }

        li:hover {
            background-color: lighten(@main-page-bg, 5%);
            outline-color: @table-border;

            // alternating colours
            li:hover,
            li:hover li:hover li:hover,
            li:hover li:hover li:hover li:hover li:hover,
            li:hover li:hover li:hover li:hover li:hover li:hover li:hover {
                background-color: lighten(@main-page-bg, 1%);
            }

            li:hover li:hover,
            li:hover li:hover li:hover li:hover,
            li:hover li:hover li:hover li:hover li:hover li:hover {
                background-color: lighten(@main-page-bg, 5%);
            }
        }
    }
}

// quest actions for transcripts
.quest-action:hover {
    background-color: lighten(@main-page-bg, 5%);
    outline-color: @table-border;
}

// ================
//      Module
// ================
// ------------------------
//      Module preview
// ------------------------
#theme-solarized-light {
    background-color: @module-bg;
    color: @main-text;
}

// --------------------------
//      Module Edit page
// --------------------------
.ace-solarized-light {
    background-color: @module-bg;
    color: @main-text;
    
    // Row count sidebar
    .ace_gutter {
        background-color: lighten(@module-bg, 5%);
        color: @main-text;
    }
    
    // Active line highlight
    .ace_marker-layer .ace_active-line,
    .ace_gutter-active-line {
        background-color: lighten(@module-bg, 10%);
    }
    
    // Selection highlight
    .ace_marker-layer .ace_selection {
        background-color: fade(lighten(@module-bg, 50%), 20%);
    }
    
    // Cursor
    .ace_cursor {
        color: @main-text;
    }
}

.EditPageEditor .editpage-editarea {
    border-color: @table-border;
}

// Scrollbar styling
// .ace_scroller,
// .ace_scrollbar-inner,
// .ace_scrollbar-h,
// .ace_layer {
    // .scroll-bar-styling;
// }
// .ace_line_group,
// .ace_line,
// .ace_line > * {
    // .scroll-bar-styling;
// }

// ------------------------
//      Module console
// ------------------------
#EditPage {
    #mw-scribunto-console {
        color: @main-text;
        
        &,
        .mw-scribunto-console-fieldset {
            background-color: @table-data;
        }
        
        legend,
        .mw-scribunto-message {
            background: none;
            color: darken(@main-text, 10%);
        }
        
        // Output
        .mw-scribunto-input {
            color: @links;
        }
        
        .mw-scribunto-normalOutput {
            background: none;
            color: @main-text;
        }
        
        .mw-scribunto-error {
            background: none;
        }
        
        // Text input
        #mw-scribunto-input {
            .text-input-styling;
        }
        
        // Clear button
        input {
            background-image: none;
            .button-styling;
        }
    }
}