// =================
//      Filters
// =================
//Search filter options
div.mw-warning-with-logexcerpt, 
.WikiaArticle .noarticletext, 
#sp-contributions-footer {
    background-color: @table-data;
    border-color: @table-data;
}

.WikiaArticle #pagehistory li.selected {
    background-color: @table-data;
}

// ===============
//      Diffs
// ===============
table.diff, 
td.diff-otitle, 
td.diff-ntitle,
td.diff-deletedline, 
td.diff-addedline,
.EditPageEditor #diff {
    background-color: lighten(@main-page-bg, 3%);
    color: @main-text;
}

td.diff-context, 
.ArticlePreview.modalContent td.diff-context {
    background: @table-data;
    border-color: @table-data;
    color: @main-text;
}

// When undoing something
.EditPageEditor #diff {
    border-color: @table-border;
}

// ==========================================
//      Viewing old/new revision warning
// ==========================================
div#viewingold-warning, 
div#viewingnew-warning {
    .table-infobox;
}

// =============================
//      Revision navigation
// =============================
#mw-revision-info, 
#mw-revision-info-current, 
#mw-revision-nav {
    color: @main-text;
}