// ===================
//      Main page
// ===================
.mp-color-common() {
    background-color: @table-data;
    color: @main-text;
}

.mp-color {
    .mp-color-common;
    
    // buttons
    .mp-endrow .mp-endbox { 
        background-color: @table-header;
    }
}

.mp-color2 {
    .mp-color-common;
    
    // buttons
    .mp-endrow .mp-endbox2 { 
        background-color: @table-header;
    }
}

// Footer
#mp-footer {
    background: @categories;
}

// Pol show results table header
#mp-poll-prev-results {
    th {
        background-color: @table-header;
    }
    
    .hover {
        border-color: @table-border !important;
        
        > div {
            background-color: @table-border !important;
        }
    }
}

#mp-recent a {
    color: @links;
}

// Twitter feed
.timeline-Viewport {
    // Scrollbar
    .scroll-bar-styling;
    
    // links
    .customisable, 
    .customisable:link, 
    .customisable:visited {
        color: @links;
    }
}

// ====================
//      User pages
// ====================
.WikiaUserPagesHeader {
    background: lighten(@main-page-bg, 2%);
}

#UserProfileMasthead {
    a {
        color: @links;
    }
    
    .masthead-info {
        background-color: @table-data;
        
        hgroup {
            background-color: @theme-blue;
            color: @main-text;
            .gradient(linear; @theme-blue, lighten(@theme-blue, 5%); 0deg);
        }

        .tag {
            background: lighten(@theme-blue, 20%);
        }
    }
    
    .masthead-info-lower:before {
        border-color: @table-data @table-data transparent transparent;
    }
    
    .contributions-details a {
        color: @main-text;
    }
    
    .masthead-avatar .avatar {
        border-color: @table-border;
    }
}

.tabs {
    border-bottom: solid 1px @table-border;
    
    .selected a {
        // background: @table-data;
        background: @main-page-bg;
        color: @main-text;
        border: solid 1px @table-border;
        border-bottom: solid 1px transparent;
    }
}

// ==========================================
//      [[RuneScape:Active discussions]]
//      [[Forum:Yew Grove]]
// ==========================================
.discussiontable,
.discussiontable.noresults {
    color: @main-text;

    .topic,
    .edited,
    .edited-by,
    .yg-archive {
        &:extend(.forumcolumnheader);
    }

}

.forumcolumnheader {
    background-color: darken(@main-page-bg, 4%);
    color: @main-text;
}

.discussiontable th,
.forumactiveheader, 
.forumarchiveheader, 
.forumoldarchives {
    color: lighten(@main-text, 10%);
    background-color: @theme-blue;
    
    a {
        color: lighten(@main-text, 10%);
    }
}

.discussiontable.noresults th {
    color: @main-text;
    background-color: darken(@main-page-bg, 8%);

    a {
        color: lighten(@main-text, 0%);
    }
}

.forumsearchbox {
    background-color: @table-data !important;
    border: solid 1px @table-border;
}

// Overwrite {{Archive list}} styling
.forumlist.archive {
    background-color: transparent !important;
    border: none !important;
}


// ============================
//      [[Special:Search]]
// ============================
.Search .result-count {
    color: @main-text;
}

// Advanced search
.Search .SearchInput {
    background-color: @table-data;
    border-color: @table-data;
    
    // Search button image
    .sprite {
        .filter(brightness(85%)); 
    }
}

// Namespace selection
.Search .WikiaSearch .search-tabs {
    .selected {
        background-color: lighten(@main-page-bg, 5%);
        
        a {
            color: @links;
        }
    }
    
    li a:hover {
        background-color: lighten(@main-page-bg, 8%);
    }
}

// ====================================
//      [[Special:Recent changes]]
// ====================================
// byte marker colours
.mw-plusminus-pos {
    color: @positive-change;
}

.mw-plusminus-neg {
    color: @coins-negative;
}

// makes (abusefilter) tags stand out more
.mw-tag-markers,
.mw-tag-markers a {
    color: red !important;
}

// remove certain styles from tags
.mw-tag-marker-visualeditor a,
.mw-tag-marker-visualeditor-needcheck a {
    color: #e49f10 !important;
}

.recentchangestext {
    .speedy-delete,
    .speedy-move {
        color: #cb1c00 !important;
    }
}

// ==============================
//      [[Special:Community]]
// ==============================
// Start here
.community-page-card-module {
    background: @table-data;
    
    .community-page-card-module-header {
        background-color: @theme-blue-lighter;
        color: @main-text;
    }
    
    .community-page-card-module-header-icon {
        fill: @theme-blue-lighter;
    }
    
    .community-page-card-module-full-list-link {
        color: @links;
    }
}

// From the community
.community-page-todo-list-module-content .portal-link a {
    background: @table-data;
    color: @main-text !important;
    
    &:hover {
        color: white !important;
    }
}

// Side rail
.community-page-rail {
    background: @table-data;
    
    .community-page-module-box {
        background-color: @table-header;
    }
    
    .community-page-module-section-title {
        color: @main-text;
    }
}

// ============================
//      [[Special:Images]]
// ============================
.WikiaPage .page-header__counter {
    color: @main-text;
}

// Add photo popup
.UploadPhotos .options {
    background-color: lighten(@main-page-bg, 3%);
}

// ===============================================
//             [[Runscape:User help]]
//      [[RuneScape:Administrative requests]]
// ===============================================
.userhelpinfo,
.introheader,
.admininfo {
    color: @main-text !important;
    background-color: @messasgeboxes !important;
}

// ============================
//      [[Special:Browse]]
// ============================
table.smwb-factbox,
table.smwb-ifactbox {
    border-collapse: collapse;

    tr.smwb-title,
    tr.smwb-center {
        td {
            .table-header();
        }
    }

    tr.smwb-propvalue,
    tr.smwb-ipropvalue {
        th {
            .table-header();
        }

        td {
            .table-data();
            background-color: @table-data;
        }
    }
}

// info popup
.qtip-bootstrap {
    background-color: @table-data;
    color: @main-text;
    border: 1px solid @table-border;

    a {
        color: @links;
    }

    .qtip-titlebar {
        background-color: @table-header;
        border-bottom-color: @table-border;
    }

    .qtip .qtip-tip canvas {
        background-color: @table-border;
    }
}

// =========================
//      [[Special:Ask]]
// =========================
.autocomplete-suggestions {
    .text-input-styling();
}

#other_options tr:nth-child(even) {
    background: lighten(@table-data, 2.5%) !important;
}

#other_options tr:nth-child(odd) {
    background: darken(@table-data, 2.5%) !important;
}

.smw-ask-actions .smw-ask-action-btn-lblue, a.smw-ask-action-btn-lblue:visited {
    .button-styling();
}

// If formatted as category
.smw-column-header {
    color: @main-text;
}

// ====================================
//      [[Special:AdminDashboard]]
// ====================================
// ----------------
//      Header
// ----------------
.AdminDashboardHeader {
    background: @table-header;
    border-color: @table-border;
    box-shadow: inset 0 -4px 2px 0 lighten(@table-header, 5%);

    h1 a {
        color: @links;
    }
}

.AdminDashboardTabs .tab {
    color: @main-text;
    background: @table-header;
    border: solid 1px @table-border;
    border-bottom: 0;

    &.active {
        background: @main-page-bg;
    }
}

// -------------------------
//      General content
// -------------------------
.AdminDashboard .admin-dashboard-content .control-section {
    header {
        background-color: lighten(@main-page-bg, 5%);
        .gradient(linear; lighten(@main-page-bg, 5%), lighten(@main-page-bg, 10%); 0deg);
        color: @main-text;
        border-color: @table-border;

        h1 {
            color: @main-text;
        }
    }

    .controls {
        background: lighten(@main-page-bg, 2%);

        .control .representation {
            background-image: none;
            background-color: @theme-blue-lighter;
            border-color: @theme-blue-lighter;
        }

        .control:hover .representation {
            background-image: none;
            background-color: lighten(@theme-blue-lighter, 10%);
            border-color: lighten(@theme-blue-lighter, 10%);
        }
    }
}

.WikiaArticle {
    box-shadow: none;
    border: none;
}

// --------------------------
//      Advanced content
// --------------------------
.AdminDashboardGeneralHeader {
    background-color: lighten(@main-page-bg, 5%);
    .gradient(linear; lighten(@main-page-bg, 5%), lighten(@main-page-bg, 10%); 0deg);
    color: @main-text;
    border-color: @table-border;
    box-shadow: 0 2px 2px 0 darken(@main-page-bg, 5%);
}

.AdminDashboard .AdminDashboardGeneralHeader h2 {
    border: none;
}

// ------------------
//      Siderail
// ------------------
.AdminDashboardRail h1 {
    color: @main-text;
}

// Progress widget
#FounderProgressWidget .preview {
    background: @table-header;
    border-color: @table-border;

    .founder-progress-bar {
        filter: invert(0.8);
    }

    header {
        background: darken(@table-header, 5%);

        h1 {
            color: @main-text;
        }

        &:after {
            border-right-color: darken(@table-header, 5%);
        }
        
    }

    .activities .activity,
    .activities .activity.active {
        border-color: @table-border;

        .label {
            background-color: lighten(@main-page-bg, 5%);
            .gradient(linear; lighten(@main-page-bg, 5%), lighten(@main-page-bg, 10%); 0deg);
            color: @main-text;
            border-color: @table-border;
        }

        .description {
            background: darken(@table-header, 2%);
    
            &:before {
                border-top-color: lighten(@table-header, 5%);
            }
        }
    }

    .activities .activity .label .chevron {
        border-top-color: @main-text;
    }

    .activities .activity.active .label .chevron {
        border-bottom-color: @main-text;
    }
}

// Quick stats
.QuickStatsWidget .WikiaDataTable {
    background: @table-header;
    border-color: @table-border;

    tbody tr,
    tbody tr td {
        border-color: @table-border;
    }

    th:first-child, 
    td:first-child {
        color: @main-text;
    }

    td:nth-child(2),
    .highlight-top,
    .totals td:nth-child(2) {
        background-color: darken(@table-header, 5%);
        .gradient(linear; darken(@table-header, 3%), darken(@table-header, 5%); 90deg);
        color: darken(@main-text, 5%);
    }

    .totals td {
        background: lighten(@table-header, 3%);
        color: @main-text;
        border-top: solid 1px @table-border;
        border-bottom: solid 1px @table-border;
    }

    .totals td:first-child .pointer {
        background: lighten(@table-header, 12%);
        color: lighten(@main-text, 5%);

        &:before {
            border-left-color: lighten(@table-header, 12%);;
        }
    }

    .highlight-bottom {
        .gradient(linear; lighten(@table-header, 3%), darken(@table-header, 5%) 25%, transparent; 0deg);
    }
}