// =================
//      Filters
// =================
#pagehistory .selected {
    background-color: lighten(@main-page-bg, 5%);
}

// ===============
//      Diffs
// ===============
table.diff,
td.diff-otitle,
td.diff-ntitle,
td.diff-deletedline,
td.diff-addedline,
.EditPageEditor #diff {
    background-color: lighten(@main-page-bg, 3%);
    color: @theme-text;
}

td.diff-context {
    background: lighten(@main-page-bg, 7%);
    border-color: lighten(@main-page-bg, 7%);
    color: @theme-text;
}

// When undoing something
.EditPageEditor #diff {
    border-color: @theme-borders;
}

// ==========================================
//      Viewing old/new revision warning
// ==========================================
#viewingold-warning,
#viewingnew-warning {
    .table-infobox;
}

// =============================
//      Revision navigation
// =============================
#mw-revision-info,
#mw-revision-info-current,
#mw-revision-nav {
    color: @theme-text;
}

// =========================
//      Create new page
// =========================
.noarticletext {
    background-color: @messageboxes;
    border-color: @theme-borders;
}