// ===================
//      Infoboxes
// ===================
.WikiaArticle .infobox {
    .table-wikitable;
}

// ====================
//      Wikitables
// ====================

// -----------------------
//      Default table
// -----------------------
table.wikitable {
    .table-wikitable;
    
    > tr > td, 
    > * > tr > td {
        .table-data;
    }
    
    > tr > th, 
    > * > tr > th {
        .table-header;
    }
}

table.article-table  {
    .table-wikitable;
    
    > tr > td, 
    > * > tr > td {
        border-bottom: solid 1px @table-border;
    }
    
    > tr > th, 
    > * > tr > th {
        background-color: @table-header;
        border-bottom: solid 1px @table-border;
    }
}

// --------------------
//      Lighttable
// --------------------
.lighttable,
#pengLocations {    
    .highlight-over {
        background-color: @highlight-table-hover; 
        
        a {
            color: @links;
        }
    }
    
    .highlight-on {
        background-color: @highlight-table-on;

        a {
            color: @links;
        }
    }
}

// ------------------------
//      Sortable table
// ------------------------
table.jquery-tablesorter.sortable th.headerSort .chevron,
table.jquery-tablesorter2 th.headerSort .chevron {
    & {
        border-color: @main-text transparent transparent;
    }
    
    &:first-child {
        border-color: transparent transparent @main-text;
    }
}

// -------------------
//      N/A cells
// -------------------
.table-na {
    background: darken(@table-data, 3%);
} 

// ============================================
//      Darken text on colored table cells
// ============================================
table.wikitable {
    tr[style*="background"] td,
    tr[bgcolor] td,
    td[style*="background"],
    td[bgcolor],
    th[style*="background"] {
        color: #3a3a3a;
    
        a {
            color: darken(@links, 5%);
        }
    }
}