// ===================
//      Infoboxes
// ===================
.WikiaArticle .infobox {
    .table-wikitable;
}

// ====================
//      Wikitables
// ====================

// -----------------------
//      Default table
// -----------------------
table.wikitable,
table.article-table {
    .table-wikitable;

    td {
        .table-data;
    }

    th {
        .table-header;
    }
}

// --------------------
//      Lighttable
// --------------------
.lighttable {
    .highlight-over {
        background-color: @highlight-table-hover;
    }

    .highlight-on {
        background-color: @highlight-table-on;
    }
}

// ------------------------
//      Sortable table
// ------------------------
table.jquery-tablesorter.sortable th.headerSort .chevron,
table.jquery-tablesorter2 th.headerSort .chevron {
    & {
        border-color: @theme-text transparent transparent;
    }

    &:first-child {
        border-color: transparent transparent @theme-text;
    }
}

// -------------------
//      N/A cells
// -------------------
.table-na {
    background: darken(@table-data, 3%);
}

// ============================================
//      Darken text on colored table cells
// ============================================
table.wikitable {
    tr[style*="background"] td,
    tr[bgcolor] td,
    td[style*="background"],
    td[bgcolor],
    th[style*="background"] {
        color: #3a3a3a;

        a {
            color: #438ab5;
        }
    }
}

// ==========================
//      Mediawiki tables
// ==========================
table.TablePager {
    .table-wikitable;

    td {
        .table-data;
        color: @theme-text;
        background-color: @table-data;
    }

    tr:hover td {
        background-color: lighten(@table-data, 5%);
    }

    th {
        .table-header;
        color: @theme-text;
    }
}

// Image metadata table
.mw_metadata th, 
.mw_metadata td {
    border-color: @theme-borders;
}

// ==========================
//      Undefined tables
// ==========================
table {
    border-color: @theme-borders;
}